body{
    min-height: 100vh;
    padding: 0px;
    background-color: #fefae1;
}
main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
width: 100%;}
main .container-fluid{
    /* background-image: url("./img/logoredondo1_png.png");  */
    display: flex;
    flex-direction: row;
    background-color:rgba(253, 245, 252, 0.993) ;
background-size: contain;
align-items: center;
height: 100%;
width: 100%;
}

main .col{
     width: 50%; 
    height:100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
main .container-fluid .col img{
    width: 50%;
    margin: auto;
}

footer{
    width: 100%;
    bottom: 0;
    position: relative ;
height:100px;}

footer .col-3{
    display: block;
    color: aliceblue;
    }
    footer .col-3 p{
        height: 10px;
    }
footer .col-3 .icon_footer ul li  {
    list-style: none;
}
footer img{
    height: 22px;
    width:22px;
}
.catalogo{height: 100%;
width: 100%;
}
.nav-prod{
    width: 100%;
    height: 100%;
}

/* QUUUUUEEEEERYYYYYSSSS */
@media screen and (max-width:580px) {

    main .container-fluid{
flex-direction: column;
width: 100%;
height: 100%;}
main .container-fluid .col{
    width: 100%;
    height: 90%;
}
main .container-fluid .col h1{
    text-align: center;
}
main .container-fluid .col p{
    text-align: justify;
}
main .container-fluid .col img{
    width: 50%;
    margin: auto;
}
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
footer .col-3{
    height: 100%;
    width: 100%;
}
.galeria-grid{
display: flex;
flex-direction: column;
}
.img-galeria{
   
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.img-galeria img{
   width: 100%;
}
.content-readers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-readers .reader {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
}
.content-readers div .img-reader{
    display: block;
    width: 100%;
    object-fit: cover ;
height: 100%;
margin:0;}


}
/* FIN DE LAS QUERYYYSS */
.galeria-grid{
    
    display: grid;
    max-height: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1/2fr 2fr 2fr 2fr 2fr 3fr ;
    grid-template-areas: "titulo titulo "
    "img-galeria img-galeria"
    "img-galeria img-galeria"
    "img-galeria img-galeria"
    "img-galeria img-galeria"
    "img-galeria img-galeria";
    }
    .img-galeria img{
        padding: 5px;
    }
    .galeria-grid h1{
        background-color: black;
        color: aliceblue;
        padding: 0;
        text-align: center;
    }
    .img-galeria{
grid-area: img-galeria;
display: flex;

flex-wrap: wrap;
    }
    .titulo{
        grid-area: titulo;
    }
    .content-readers div h1{
        background-color: black;
        color: aliceblue;
    }
    .content-readers .reader{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      border: solid 2px black;
      border-top: none;
    }
  .content-readers .reader .cards img{
    border-radius: 50%;
    border: solid 2px rgb(115, 115, 202);
  }
    .content-readers .reader .cards div img{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      
    }
  
    .content-readers{
        max-height: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .content-readers  .img-readers{
        opacity: 1;
        display: block;
        max-width: 20rem;
        max-height: 500px;
        margin: auto;
        border-radius: 2%;
        margin-right: 100px;

    }
    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contacto form{
        width: 60%;
    }
    .contacto form .content_contacto{
        align-items: center;
        background-color: aliceblue;
        max-width: 100%;
        border: solid 2px black;
    }
    .contacto form .content_contacto img{
        animation-name: movimiento;
        
        animation-duration: 6s;
        animation-iteration-count: infinite;
        display: block;
height: 200px;
       margin: auto;
    }
@keyframes movimiento{
0%{margin-left: 0%;}
50%{margin-left: 65%;}
100%{margin-left: 0%;}

}
.contacto form  :hover{
    
}